<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<div id="sidebar">

		<% if !user_signed_in? %>
		<button class="sign_in"><%= link_to "Register", new_user_session_path %></button>
		<% end %>
		
	</div>

	<div id="main_content">
		<div id="header">
			
				

				<button class="button"><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></button>

<div class="container">
	<%= yield %>
</div>



</body>
</html>
